<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../../static/css/login.css">
</head>

<body>
    {% extends 'base.html'%}
    {% block content %}

    <div class="containers">
        <div class="form-containers">
            <!-- <div class="form-blob">
                <img src="#" alt="aa" class="blob-img blob-1" width="150">
            </div> -->

            <div class="form-header">
                <p>Please enter your details</p>
                <h1>Welcome Back</h1>
            </div>
            <form action="{% url 'login'%}" method="POST" class="form-box">
                {% csrf_token %}
                <div class="input-group">
                    <input type="email" id="email" name="email" class="input-field" placeholder="" required>
                    <label for="email" class="floating-label">Email address</label>
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" class="input-field" placeholder="" required>
                    <label for="password" class="floating-label">Password</label>
                    <div class="eye-icon">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>
                <div class="input-group check-box">
                    <div class="form-cols">
                        <input type="checkbox" id="checkbox" placeholder="" required>
                        <label for="checkbox" class="me">Remember me</label>
                    </div>
                    <div class="form-cols">
                        <a href="#" class="form-link">Forgot Password?</a>
                    </div>
                     <div class="form-cols">
                        <a href="{% url 'register' %}" class="form-link">Register</a>
                    </div>
                </div>
                <button type="submit" class="form-btn form-btn-submit">Login</button>
            </form>
        </div>
    </div>
    {% endblock %}

</body>

</html>