<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="../../static/css/login.css">
</head>

<body>
    {% extends 'base.html'%}
    {% block content %}
    
    <div class="containers">
        <div class="form-containers">
            <!-- <div class="form-blob">
                <img src="#" alt="aa" class="blob-img blob-1" width="150">
            </div> -->

            <div class="form-header">
                <h1>Create an Acccount</h1>
            </div>
            <form action="{% url 'register'%}" method="POST" class="form-box" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" id="username" name="username" class="input-field" placeholder="" required>
                    <label for="username" class="floating-label">Username</label>
                </div>
                <div class="input-group">
                    <input type="email" id="email" name="email" class="input-field" placeholder="" required>
                    <label for="email" class="floating-label">Email address</label>
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" class="input-field" placeholder="" required>
                    <label for="password" class="floating-label">Password</label>
                    <div class="eye-icon">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>
                <div class="input-group">
                    <input type="password" id="con_password" name="con_password" class="input-field" placeholder="" required>
                    <label for="con_password" class="floating-label">Confirm Password</label>
                    <div class="eye-icon">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>
                <div class="input-group">
                    <input type="file" id="image" name="profile" class="input-field" placeholder="" required>
                    <label for="image" class="floating-label">Profile Image</label>
                </div>
                <div class="input-group">
                    <input type="text" id="role" name="position" class="input-field" placeholder="" required>
                    <label for="role" class="floating-label">Position</label>
                </div>
                <div class="input-group">
                    <input type="text" id="phone" name="phone" class="input-field" placeholder="" required>
                    <label for="phone" class="floating-label">Phone</label>
                </div>
                <div class="input-group check-box">
                    <div class="form-cols">
                        <a href="/" class="form-link">Login</a>
                    </div>
                </div>
                <button type="submit" class="form-btn form-btn-submit">Register</button>
            </form>
        </div>
    </div>
    {% endblock %}

</body>

</html>