{% extends 'base.html'%}
{% block title %}Shop Page{% endblock %}
{% block content %}
{% include 'siber.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Sales</title>
    <link rel="stylesheet" href="../../static/css/dashboard.css">
</head>
<body>
    <main class="content">
    <section class="main" style="margin-top: 20px;">
        <div class="box box-6">
            <div class="box-header">
                <h4>Daily Sales List</h4>
            </div>
            <div class="box-body">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Seller</th>
                            <th>Shop Name</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>23.11.2025</td>
                            <td>Ye wint Hling</td>
                            <td>shop 1</td>
                            <td>12</td>
                            <td>1200 mmk</td>
                            <td>cash</td>
                            <td>asdfghjk</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>23.11.2025</td>
                            <td>Ye wint Hling</td>
                            <td>shop 1</td>
                            <td>12</td>
                            <td>1200 mmk</td>
                            <td>cash</td>
                            <td>asdfghjk</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>23.11.2025</td>
                            <td>Ye wint Hling</td>
                            <td>shop 1</td>
                            <td>12</td>
                            <td>1200 mmk</td>
                            <td>cash</td>
                            <td>asdfghjk</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
{% endblock %}
</body>
</html>
