{% extends 'base.html'%}
{% block title %}Shop Page{% endblock %}
{% block content %}
{% include 'siber.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="../../static/css/dashboard.css">
</head>
<body>
    <main class="content">
    <section class="main" style="margin-top: 20px;">
        <div class="box box-6">
            <div class="box-header">
                <h4>Products Uploaded</h4>
                <button class="shop" data-bs-toggle="modal" data-bs-target="#userForm">Add New Products</button>
            </div>
            <div class="box-body">
                <table>
                    <thead>
                        <tr>
                            <th>Products Code</th>
                            <th>Products Name</th>
                            <th>Products Photo</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for p in products %}
                            <tr>
                                <td>{{ p.code }}#</td>
                                <td>{{ p.name }}</td>
                                <td>
                                    <img style="margin: 15px;" src="{{ p.photo.url }}" width="70">
                                </td>
                                <td>{{ p.price }}MMK</td>
                            </tr>
                            {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
<!-- Model -->
<div class="modal fade" id="userForm">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Products</h4>
                <button type="button" style="font-size: 17px;" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form action="{% url 'product_upload' %}" method="POST" enctype="multipart/form-data" id="myForm">
                    {% csrf_token %}

                    <div class="card imgholder">
                        <label for="imgInput" class="Uploaded">
                            <input type="file" name="photo" id="imgInput" required>
                            <ion-icon name="add-circle-outline"></ion-icon>
                        </label>
                        <img id="previewImg" src="../../media/profile/8608769.png" width="200">
                    </div>

                    <div class="inputField">
                        <div>
                            <label> Code </label>
                            <input type="text" name="code" class="fs-2" required>
                        </div>

                        <div>
                            <label> Name  </label>
                            <input type="text" name="name" class="fs-2" required>
                        </div>

                        <div>
                            <label>Price </label>
                            <input type="text" name="price" class="fs-2" required>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="submit" form="myForm" class="shop submit">Uploaded</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>
