{% extends 'base.html'%} {% block title %}Shop Page{% endblock %} 
{% block content %} {% include 'siber.html'%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="../../static/css/dashboard.css" />
  </head>
  <body>
    <main class="content">
      <section class="main" style="margin-top: 20px">
        <div class="box box-6">
          <div class="box-header">
            <h4>Shop Uploaded</h4>
            <button
              class="shop"
              data-bs-toggle="modal"
              data-bs-target="#userForm"
            >
              Add New Shop
            </button>
          </div>
          <div class="box-body">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Shop Name</th>
                  <th>Photo</th>
                  <th>Address</th>
                  <th>Phone</th>
                  <th>Remark</th>
                </tr>
              </thead>
              <tbody>
                {% for s in shops %}
                <tr>
                  <td>{{ s.id }}</td>
                  <td>{{ s.name }}</td>
                  <td>
                    {% if s.photo %}
                    <img src="{{ s.photo.url }}" width="50" />
                    {% else %}
                    <img src="/static/default.jpg" width="50" />
                    {% endif %}
                  </td>

                  <td>{{ s.address }}</td>
                  <td>{{ s.phone }}</td>
                  <td>{{ s.remark }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>
    <!-- Model -->
    <div class="modal fade" id="userForm">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Shop Uploaded Form</h4>
            <button
              type="button"
              style="font-size: 17px"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              action=""
              method="POST"
              enctype="multipart/form-data"
              id="myForm"
            >
              {% csrf_token %}

              <div class="card imgholder">
                <label for="imgInput" class="Uploaded">
                  <input type="file" name="photo" id="imgInput" />
                  <ion-icon name="add-circle-outline"></ion-icon>
                </label>
                <img src="../../media/pb.jpg" alt="" width="200" />
              </div>

              <div class="inputField">
                <div>
                  <label>Shop Name : </label>
                  <input type="text" name="name" />
                </div>

                <div>
                  <label>Ph : </label>
                  <input type="text" name="phone" />
                </div>

                <div>
                  <label>Remark : </label>
                  <input type="text" name="remark" />
                </div>

                <div>
                  <label>Address : </label>
                  <textarea name="address" style="resize: none"></textarea>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" form="myForm" class="shop submit">
              Uploaded
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
