@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Merriweather", serif;
}

:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-gray: #B0B0B0;
}
#menu-toggle{
    display: none;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 165px;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    background: var(--color-dark);
}
.slide-head{
    background: var(--main-color);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
      box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
}

.slide-head h3,
.slide-head span{
    color: #fff;
}
.profile{
    text-align: center;
    padding: 2rem 0rem;
}
.profile h4{
    color: #fff;
    font-weight: 500;
}
.profile small{
    color: #899DC1;
    font-weight: 600;
}
.bg-img{
     background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.pro-img{
    height: 90px;
    width: 90px;
    display: inline-block;
    margin: 0 auto .5rem auto;
   
    border: 3px solid #899DC1;
}
.main-content{
    margin-left: 165px;
    width: calc(100% - 165px);
}
header{
    position: fixed;
    right: 0;
    top: 0;
    left: 165px;
    z-index: 100;
    height: 60px;
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
}
.header-content,
.header-menu{
    display: flex;

    align-items: center;
}
.header-content{
    justify-content: space-between;
    padding: 0rem 1rem;
}
.header-menu{
justify-content: flex-end;
}
main{
 
    margin-top: 60px;
}
.side-menu a{
    display: block;
    padding: 1.2rem 0rem;
}
.side-menu a span{
    display: block;
    text-align: center;
    font-size: 1.7rem;
}
.side-menu{
    overflow-y: auto;
}
.side-menu a span,
.side-menu a small{
    color: #899DC1;
}
.side-menu a.active span,
.side-menu a.active small{
    color: #fff;
}
.side-menu ul{
  text-align: center;
}
.side-menu a.active{
   display: block;
   background: #2B384E;
}
.user{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.user div{
    height: 40px;
    width: 40px;

}
.header-menu label,
.header-menu .noti-fy{
   margin-right: 1rem;
}
.header-menu span,
.noti-fy {
    font-size: 1.4rem;
}
.page-header{
    padding: 1.3rem 1rem;
    background: #E9edf2;
    border-bottom: 1px solid #dee2e8;
}
.page-header h1,
.page-header small{
    color: #74767d;
}
.page-content{
    padding: 1.3rem 1rem;
}
.analytics{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}
.card{
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
}