@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento:wght@400;700&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sevillana&family=Tangerine:wght@400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --blue: #008cff;
    --white: #ffffff;
    --LightGray: #f7f7f7;
    --text-color: #4c5258;
    --border-c: #e4e4e4;
    --small-b: .5rem;
    --big-b: 2rem;
    --fs13: 1.3rem;
    --fs-15: 1.5rem;
    --fs-16: 1.6rem;
    --fs-20: 2rem;
    --fs-30: 3rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    color: var(--text-color);
    background-color: var(--LightGray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: 500;
}

.containers {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    gap: 2rem;
}
.shop{
    padding: .8rem 1.2rem;
    background: var(--blue);
    color: var(--white);
    border-radius: .5rem;
    outline: none;
    border: none;
    font-size: var(--fs-15);
    transition: all .3s ease;
}
.shop:hover{
    background: #1c88e0;
}
.siber-wrapper {
    position: fixed;
    top: 0;
    left: -100rem;
    width: 25rem;
    height: 100vh;
    padding: 0rem 1.5rem;
    background: var(--white);
    box-shadow: 0 .2rem .6rem 0 rgba(218 218 253 / 65%),
        0 .2rem .6rem 0 rgba(206 206 238 / 54%);
    z-index: 999;
    transition: all .3s ease-in-out;
}

.siber-wrapper.active {
    left: 0;
}

.siber-wrapper .sidebar-header .close-menu {
    position: absolute;
    top: 1%;
    right: -1.6rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--blue);
    border: .7rem solid var(--LightGray);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.siber-wrapper .sidebar-header .close-menu ion-icon {
    font-size: var(--fs-20);
    color: var(--white);
}

.siber-wrapper .sidebar-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 6rem;
    border-bottom: .1rem solid var(--border-c);
}

.siber-wrapper .sidebar-header img {
    width: 4.5rem;
}

.siber-wrapper .sidebar-header h4 {
    font-size: 2.2rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
    color: var(--blue);
}

.siber-wrapper nav ul {
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.siber-wrapper nav ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1.5rem;
    font-size: var(--fs-15);
    letter-spacing: .05rem;
    color: var(--text-color);
    border: .1rem solid #ffffff00;
    transition: all .3s ease-in-out;
}

.siber-wrapper nav ul li a ion-icon {
    font-size: var(--fs-20);
    line-height: 1;
}

.siber-wrapper nav ul li a .title {
    text-transform: capitalize;
}

.siber-wrapper nav ul li a:hover {
    color: var(--blue);
    background-color: rgba(13 110 253 / .12);
    border-radius: .5rem;
}

.content {
    width: 80%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.content header .header-wrapper {
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.5rem;
    box-shadow: 0 0 .375rem .25rem rgba(161 172 184 / 15%);
    height: 6rem;
    border-radius: var(--small-b);
}

.content header .header-wrapper .header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content header .header-wrapper .header-left .toggle-icon ion-icon {
    cursor: pointer;

}

.content header .header-wrapper .header-left ion-icon {
    color: #697a8d;
    font-size: 2.1rem;
}

.content header .header-wrapper .header-left input {
    background: transparent;
    color: #697a8d;
    font-weight: 400;
    font-size: var(--fs-16);
    padding: 0.5rem 0.8rem;
    width: 100%;
    outline: none;
    border: none;
}

.content header .header-wrapper .header-left input::placeholder {
    font-size: var(--fs-15);
}

.content header .header-wrapper .header-left input:focus::placeholder {
    opacity: 0;
}

.content header .header-wrapper .header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content header .header-wrapper .header-right .star-container {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border: .1rem solid rgba(27 31 36 / .15);
    border-radius: var(--small-b);
    font-weight: 500;
}

.content header .header-wrapper .header-right .star-container .star-left {
    color: #24292f;
    border-right: .1rem solid rgba(27 31 36 / .15);
    padding: 0.2rem 0.5rem;
    background-color: #ebf0f4;
}

.header-wrapper .header-right .star-container .star-left ico-icon {
    font-size: var(--fs-15);
}

.header-wrapper .header-right .star-container .star-left span {
    text-transform: capitalize;
}

.header-wrapper .header-right .star-container .star-right {
    padding: 0.2rem 0.5rem;
}

.header-wrapper .header-right img {
    width: 4rem;
    border-radius: 50%;
}

.main {
    display: grid;
    gap: 2rem;
}

.main .box {
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: var(--small-b);
    box-shadow: 0 .2rem .6rem 0 rgba(67 89 113 / .12);
}

.main .box-1 {
    padding: 0;
    display: flex;
    gap: 4rem;
}

.main .box .box-left {
    padding: 1.5rem;
}

.main .box .box-left h4 {
    text-transform: capitalize;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #696cff;
}

.main .box .box-left p {
    font-size: var(--fs-15);
    margin-bottom: 3rem;
}

.main .box .box-left a {
    text-transform: capitalize;
    font-size: 1.4rem;
    color: var(--blue);
    border: .1rem solid var(--blue);
    border-radius: var(--small-b);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.main .box .box-left a:hover {
    background-color: var(--blue);
    color: var(--white);
}

.main .box .box-right {
    padding: 1.5rem 1.5rem 0rem 1.5rem;
}

.main .box .box-right img {
    display: none;
}

.main .box-2,
.main .box-3,
.main .box-4,
.main .box-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: .2rem solid var(--blue);
    height: 16rem;
}

.main .box-2,
.main .box-3,
.main .box-4 {
    background-color: var(--white);
    background: linear-gradient(to right, var(--blue) 50%, var(--white) 50%) right;
    background-size: 200%;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.main .box-2:hover,
.main .box-3:hover,
.main .box-4:hover {
    background-position: left;
    color: var(--white);
}

.main .box-5 {
    background-color: var(--blue);
    color: var(--white);
}

.main .box .box-details {
    text-align: center;
}

.main .box .box-details h5 {
    font-size: var(--fs-30);
    font-weight: 600;
    margin-bottom: 1rem;
}

.main .box .box-details span {
    text-transform: capitalize;
    font-size: var(--fs-20);
}

.main .box .box-icon {
    font-size: 4rem;
    color: var(--blue);
    transition: all .6s ease-in-out;
}

.main .box-5 .box-icon ion-icon {
    color: var(--white);
}

.main .box-2:hover .box-icon ion-icon,
.main .box-3:hover .box-icon ion-icon,
.main .box-4:hover .box-icon ion-icon {
    color: var(--white);
}

.box .box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: .1rem solid rgba(13 110 253 / .12);
}

.box .box-header h4 {
    text-transform: capitalize;
    font-size: var(--fs-20);
}

.box .box-header a {
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    font-size: var(--fs-16);
    background-color: var(--blue);
    border-radius: var(--small-b);
    border: .1rem solid transparent;
    transition: all.3s ease-in-out;
    color: var(--white);
}

.box .box-header a:hover {
    background-color: var(--white);
    color: var(--blue);
    border-color: var(--blue);
}

.main .box-6 {
    white-space: nowrap;
    overflow-x: auto;
}

.box .box-body table {
    width: 100%;
    border-collapse: collapse;
}

.box .box-body table thead {
    background-color: var(--LightGray);
}

.box .box-body table thead tr th {
    text-transform: capitalize;
    font-size: var(--fs-15);
    padding: 0.5rem;
    text-align: left;
}

.box .box-body table tbody {
    font-size: var(--fs-15);
    padding: 1rem 0.5rem;
}

.box .box-body table tbody tr td .badge {
    display: block;
    border-radius: var(--big-b);
    text-align: center;
    text-transform: capitalize;
    color: var(--white);
    width: 60%;
}

.box .box-body table tbody tr td .badge-1 {
    background: linear-gradient(45deg, #42e695, #3bb2b8);
}

.box .box-body table tbody tr td .badge-2 {
    background: linear-gradient(45deg, #ffdf40, #ff8359);
}

.box .box-body table tbody tr td .badge-3 {
    background: linear-gradient(45deg, #f54ea2, #ff7676);
}


@media(min-width:992px) {
    .siber-wrapper {
        left: 0;
    }

    .siber-wrapper .sidebar-header.close-menu {
        display: none;
    }

    .content {
        margin-left: 27rem;
        padding-left: 0;
    }

    .content header {
        margin: 1.2rem auto;
    }

    .content .header-wrapper .toggle-icon {
        display: none;
    }
}

@media(min-width:768px) {
    .content header .header-wrapper .header-right {
        gap: 2rem;

    }

    .header-wrapper .header-right .star-container .star-left,
    .header-wrapper .header-right .star-container .star-right {
        padding: 0.5rem 1rem;
    }
    .main{
        grid-template-columns: repeat(2, 1fr);
    }
    .box-1{
        grid-column: span 2;
    }
    .box-6,
    .box-7{
        grid-column: span 2;
    }


}
